html {
    display: block;
    background-color: #000000;
    color: black;
    width: auto;
    height: auto;
    font-size: 16px;
}

head, style, meta, title, script {
    display: none;
}

body, section, div, p, hr, td {
    display: block;
}

button {
    display: inline-block;
}

a {
    color: blue;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

h4 {
    display: block;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: .83em;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: .67em;
    font-weight: bold;
}

table {
    display: block;
}

tr {
    display: block;
}

select > option {
    display: none;
}

select > option[selected="selected"] {
    display: block;
}
